* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  background-color: #161624;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}

.list-container {
  background-color: #334155;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow-y: scroll;
  padding: 30px;
  max-height: 50%;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.country {
  color: #f1f5f9;
  font-size: 30px;
}

.visit-button {
  background-color: #3b82f6;
  width: 60px;
  border: none;
  border-radius: 13px;
  padding: 0px;
  cursor: pointer;
}
.main-heading {
  color: #f1f5f9;
}

.visited {
  color: #ffffff;
  font-size: 20px;
}

.visited-countries-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  flex-wrap: wrap;
}

.visited-country {
  list-style-type: none;
  width: 250px;
  height: 200px;
  margin-right: 20px;
}

.bottom {
  background-color: #334155;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px;
}

img {
  width: 100%;
  height: 70%;
  margin-bottom: 0px;
}

.country-name {
  font-size: 25px;
  margin: 0px;
}
